[submodule "KotlinFuzzer"]
	path = projects/KotlinFuzzer
	url = git@github.com:ItsLastDay/KotlinFuzzer.git
	branch = master
[submodule "idris-a-mazing"]
	path = projects/idris-a-mazing
	url = git@github.com:ItsLastDay/idris-a-mazing.git
	branch = master
[submodule "stackoverflow_map"]
	path = projects/stackoverflow_map
	url = git@github.com:ItsLastDay/stackoverflow_map.git
	branch = master
[submodule "projects/hackathons/eight"]
	path = projects/hackathons/eight
	url = git@github.com:ItsLastDay/eight.git
	branch = master
[submodule "projects/hackathons/Cheat-program"]
	path = projects/hackathons/Cheat-program
	url = git@github.com:lesya-tishencko/Cheat-program.git
	branch = master
[submodule "projects/hackathons/pipinstall"]
	path = projects/hackathons/pipinstall
	url = git@github.com:ItsLastDay/pipinstall.git
	branch = master
[submodule "projects/hackathons/magic-box"]
	path = projects/hackathons/magic-box
	url = git@github.com:funtechhackday/magic-box.git
	branch = master
[submodule "subjects/Java/java-2-au-course"]
	path = subjects/Java/java-2-au-course
	url = git@github.com:ItsLastDay/java-2-au-course.git
	branch = ha4
[submodule "subjects/au-linux-kernel-autumn-2017"]
	path = subjects/LinuxKernel
	url = git@github.com:ItsLastDay/au-linux-kernel-autumn-2017.git
	branch = master
[submodule "subjects/au_dl_course"]
	path = subjects/DeepLearning
	url = git@github.com:ItsLastDay/au_dl_course.git
	branch = master
